<!-- Node precisa que o arquivo seja extensão .ejs-->
<!DOCTYPE html>
<html>
  <head><meta charset="UTF-8"></head>
  <body style="font-family: Arial, sans-serif; color: #333; line-height: 1.6;">
    <div style="max-width: 600px; margin: 0 auto; padding: 20px; border: 1px solid #eee; border-radius: 10px;">
      <h2 style="color: #007bff;"><%= title %></h2>
      <p> Olá <strong><%= nome %></strong></p>
    </div>
  </body>
</html>