.records {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.records .input-search {
  margin: 20px 0;
  font-size: 20px;
}

.records label {
  margin-right: 10px;
  font-weight: bold;
}

.records select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.records select:hover {
  border-color: #888;
}

.records select:focus{
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}